<div class="langswitch-portal-tooltip-container">
	<a href="#" class="langswitch-portal-tooltip-trigger tooltip-trigger" data-tooltip="langswitch-portal-tooltip">{USER_LANGUAGE_NAME}</a>
	<ul class="dropdown-menu langswitch-portal-tooltip" role="menu" id="langswitch-portal-tooltip">
		<!-- BEGIN languageswitcher_row2 -->
		<li><a href="{languageswitcher_row2.LINK}">{languageswitcher_row2.LANGNAME}</a></li>
		<!-- END languageswitcher_row2 -->
	</ul>
</div>

<style>
.langswitch-portal-tooltip-container {
	display: inline;
	position: relative;
}

.langswitch-portal-tooltip {
	display: none;
}

.langswitch-portal-tooltip li {
	padding: 5px;
}

</style>